.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 272px;
  height: 236px;
}

.price {
  display: flex;
  align-items: center;
  color: #f2f2f3;
}

.price svg {
  margin-left: 9px;
}

.name {
  margin: 0;
  height: 48px;
  text-align: center;
  color: #f2f2f3;
}

.count {
  display: flex;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #4c4cff;
  color: #f2f2f3;
}
