.root {
  display: flex;
  flex-direction: column;
  padding: 100px 16px 0;
}

.list {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.scrollable {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 55vh);
  overflow-y: auto;
}

.scrollable::-webkit-scrollbar {
	width: 14px;
}
.scrollable::-webkit-scrollbar-track {
	background: #19191c;
}
.scrollable::-webkit-scrollbar-thumb {
	background: #af5eaa;
	border: 3px solid #19191c;
	border-radius: 7px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.totalSum {
  display: flex;
  align-items: center;
}

.totalSum svg {
  margin-left: 5px;
}

.total {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
